body {
    background-image: url(./img2.jpg);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
}

.heade{
    margin: 30px auto 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoBusqueda{
    width: 200px;
    background:white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 15px;
    padding: 5px;   
}

#listaGenero{
    width: 130px;
    background:white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
}

#listaCantantes{
    width: 150px;
    background:white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 15px;
    padding: 5px; 
}

.btnBuscar{
    width: 90px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 15px;
    padding: 5px; 
}

.titulo{
    margin: 30px auto 5px auto;
    font-size: 4em; 
    color: transparent;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    text-shadow: 7px 7px #300e74e5;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 2px solid #fc8d43;
    background:transparent;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); 
    border-radius: 10px; 
    padding: 20px; 
    width: 80%;
    transition: transform 0.3s ease-in-out; 
}
/* .titulo:hover {
    transform: scale(1.1); 
    cursor: pointer; 
} */

.card {
    width: 340px;
    height: 350px;
    border-radius: 8px;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    break-inside: avoid;
}

.card:hover{
    transform: scale(1.07); 
}


.card-imagen {
    width: 340px;
    height: 190px;
    object-fit: cover;
}


.card-contenido {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}


.card-titulo {
    font-size: 1.2em;
    margin: 0;
    color: #f7f5f5;
   
}


.card-descripcion {
    font-size: 0.9em;
    color: #f7f5f5da;;
    margin: 2px 0;
    flex: 1;
}

.btn {
    display: inline-block;
    padding: 8px 12px;
    font-size: 0.9em;
    color: #333;
    font-weight: 600;
    background-color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b3b3b3e5;
    color: #fff;
    transform: scale(1.04); 
    cursor: pointer; 
    
}   

.container {
    margin-top: 30px;
    column-count: 5;
    column-gap: 30px;
    column-rule: #ffffff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
